# What are the choices?
# reg : what region we care about (SR,3lCR,emCR_A,emCR_B,Zjets) (Subfolders of the SAMPLES Folder)
# control_type : what cuts? 
#     for SR: SR
#     for 3lCR : 3lCR_nominal,3lCR_var1,3lCR_var2,3lCR_var3,3lCR_var4
#     for emCR_A : emCR_A_nominal, emCR_A_var1,emCR_A_var2,emCR_A_var3,emCR_A_var4
#     for emCR_B: emCR_B_nominal, emCR_B_var1,emCR_B_var2,emCR_B_var3,emCR_B_var4
#     for Zjets: Zjets_nominal,CR1_NB,CR1_WB,CR2_NB,CR2_WB,CR3_NB,CR3_WB
# event_type : what channel to plot? 
#     all,ee,mm. Event types with 3 leptons like eee, mme, mmm, mee are also considered for the control regions.
# scaling option : 
#     if Unscaled, then no scaling applied. 
#     if Scaled_[var], then use the scaling obtained by the respective fitting var.
#     var choices : 
#         CR1_NB,CR1_WB,CR2_NB,CR2_WB,CR3_NB,CR3_WB
#         3lCR_var1,3lCR_var2,3lCR_var3,3lCR_var4
#         emCR_var1,emCR_var2,emCR_var3,emCR_var4
BASE_PATH: ./SAMPLES/
analysis:
  region: SR
  control_type: SR
  event_type: all
  scaling_option: Unscaled

# Physics variable binning configurations
variable_binning:
  MetOHT: [0, 0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.55, 0.6, 0.65, 0.7, 0.75, 0.8, 0.9, 2]
  met_tst: [0, 10, 20, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 110, 120, 140, 200]
  dLepR: [0, 0.8, 1, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8]
  dMetZPhi: [0, 0.55, 1.05, 1.35, 1.45, 1.55, 1.65, 1.75, 1.85, 1.95, 2.05, 2.15, 2.25, 2.35, 2.45, 2.55, 2.65, 2.75, 2.85, 2.95, 3.05, 3.15]
  Z_pT: [0, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 250, 300, 400, 800]
  mT_ZZ: [0, 100, 150, 200, 250, 300, 350, 400, 800]
  dPhill: [ -3.14159, -2.51327, -1.88496, -1.25664, -0.628318, 0, 0.628318, 1.25664, 1.88496, 2.51327, 3.14159]
  n_jets: [0, 1, 2, 3, 4, 10]
  second_jet_pt: [30, 40, 50, 60, 80, 100, 200]
  mjj: [100, 150, 200, 250, 300, 350, 400, 500, 600, 700, 2000]
  detajj: [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5, 5.5, 6, 6.5, 7, 8, 10]
  MetOHT_2: [0, 0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.55, 0.6, 0.65, 0.7, 0.75, 0.8, 0.9, 2]
  MetOZPt: [0, 0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45, 0.5, 0.55, 0.6, 0.65, 0.7, 0.75, 0.8, 0.9, 2]
  proshmo: [-2, -1, 0, 1, 2]
  met_signif: [3, 4, 5, 6, 7, 8, 10, 12, 20]
  M2Lep: [65, 66.81818, 68.63636, 70.45455, 72.27273, 74.09091, 75.90909, 77.72727, 79.54545, 81.36364, 83.18182, 85, 86.81818, 88.63636, 90.45455, 92.27273, 94.09091, 95.90909, 97.72727, 99.54545, 101.36364, 103.18182, 105]
  n_bjets: [0, 1, 2, 3, 4, 10]

# Analysis cuts for different control types (control regions)
cuts:
  SR:
    leading_pT_lepton: "x > 30"
    subleading_pT_lepton: "x > 20"
    M2Lep: "(x > 80) & (x < 100)"
    met_tst: "x > 110"
    dLepR: "x < 1.8"
    dMetZPhi: "x > 2.2"
    n_bjets: "x == 0"
    MetOHT: "x > 0.65"
  VBS:
    leading_pT_lepton: "x > 30"
    subleading_pT_lepton: "x > 20"
    M2Lep: "(x > 80) & (x < 100)"
    met_tst: "x > 150"
    dLepR: "x < 1.8"
    dMetZPhi: "x > 2.2"
    n_bjets: "x == 0"
    MetOHT: "x > 0.4"
    mjj: "x > 100"
    detajj: "x > 1"
    second_jet_pt: "x > 30"
    n_jets: "x > 1"
    # We can continue defining cuts for other control types similarly

scaling_factors:
  Unscaled:
    sf_0_ee: 1.0
    sf_1_ee: 1.0
    sf_2_ee: 1.0
    sf_3_ee: 1.0
    sf_0_mm: 1.0
    sf_1_mm: 1.0
    sf_2_mm: 1.0
    sf_3_mm: 1.0
    sf_3lCR: 1.0
    sf_top: 1.0
    sf_WW: 1.0
  Scaled_CR1_NB:
    sf_WW: 1.5128
    sf_3lCR: 1.02448
    sf_0_ee: 1.42804
    sf_0_mm: 1.24627
    sf_1_ee: 1.25779
    sf_1_mm: 1.28729
    sf_2_ee: 1.0588
    sf_2_mm: 1.04504
    sf_3_ee: 1.0588
    # Set sf_3 to be same as sf_2 if not present
    sf_3_mm: 1.04504
    sf_top: 1.01299
  Scaled_CR1_WB:
    sf_WW: 1.51177
    sf_3lCR: 1.02293
    sf_0_ee: 1.42024
    sf_0_mm: 1.24994
    sf_1_ee: 1.42109
    sf_1_mm: 1.24807
    sf_2_ee: 1.06326
    sf_2_mm: 1.05263
    sf_3_ee: 1.06326
    sf_3_mm: 1.05263
    sf_top: 1.01293
  Scaled_Test_2x:
    sf_WW: 2
    sf_3lCR: 2
    sf_0_ee: 2
    sf_0_mm: 2
    sf_1_ee: 2
    sf_1_mm: 2
    sf_2_ee: 2
    sf_2_mm: 2
    sf_3_ee: 2
    sf_3_mm: 2
    sf_top: 2

#Careful with this structure! Every sample name must be referenced only once in the scaling_application section. Take a look at the apply_scaling_factors.
scaling_application:
  no_jets:
    sf_top: [top, ttbarV_ttbarVV]
    sf_WW: [WW]
    sf_3lCR: [WZ, WZ_jj, lllljj, llll]
  with_jets:
    sf_x_ee: [Z_jets_ee]
    sf_x_mm: [Z_jets_mumu]

classification:
  signal:
    ewk: [llvvjj]
    qcd: [llvv]
  background:
    wz: [WZ]
    zjets: [Z_jets_ee, Z_jets_mumu]
    top: [top, ttbarV_ttbarVV]
    ww: [WW]
    other: [llll, llqq, VVV, W_jets, Ztt]
